@font-face {
  font-family: "iconfont"; /* Project id 4272495 */
  src: url('iconfont.woff2?t=1699781113546') format('woff2'),
       url('iconfont.woff?t=1699781113546') format('woff'),
       url('iconfont.ttf?t=1699781113546') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei1:before {
  content: "\e64e";
}

.icon-biaoqian_o:before {
  content: "\eb47";
}

.icon-calendar:before {
  content: "\e9ab";
}

.icon-mima:before {
  content: "\e614";
}

.icon-zhuce:before {
  content: "\e6d6";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

.icon-wangjimima:before {
  content: "\e66b";
}

.icon-login:before {
  content: "\e600";
}

.icon-shoucang-shoucang:before {
  content: "\e68a";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-fenxiang:before {
  content: "\e601";
}

