{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">


<head>
    {% comment %}所有页面的基本模板{% endcomment %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="本网站(0318-SPACE)为博主的个人网站,用于博主的日常学习和分享,欢迎大家的访问!"/>
    <meta name="keywords" content="LLL 吕亮亮的博客 0318-SPACE www.lll.plus {% block keywords %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'image/favorite.ico' %}">

    <script src="{% static 'js/vue2.7.js' %}"></script>
    <script src="{% static 'js/tools.js' %}"></script>

    <script src="{% static 'fonts/iconfont.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fonts/iconfont.css' %}">

    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap@4.3.1.css' %}">

    <script src="{% static 'js/jquery@3.4.1.js' %}"></script>
    <script src="{% static 'js/jquery-cookie@1.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap@4.6.2.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/11.4.0/styles/googlecode.min.css">
    <script src="https://cdn.bootcss.com/highlight.js/11.4.0/highlight.min.js"></script>
    {% comment %}jquery中的cookie{% endcomment %}
    {#    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>#}
    {#    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>#}
    {#    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">#}


    <script>
        {% comment %}当窗口的宽度小于1000时需要隐藏的东西{% endcomment %}
        $(window).bind('load resize', function () {
                let window_width = document.body.offsetWidth || document.body.clientWidth;
                if (parseInt(window_width) > 1000) {
                    $('.my-hidden').css('display', 'inline-block');
                    $('#left-content').removeClass('col-12').addClass('col-9');
                    $('#music-player').removeClass('w-100');
                    $('#current-music-img').css('right', '6%');
                } else {
                    $('.my-hidden').css('display', 'none');
                    $('#left-content').removeClass('col-9').addClass('col-12');
                    $('#music-player').addClass('w-100');
                    $('#current-music-img').css('right', '2%');
                }
            }
        );
    </script>
    {% block head %}
    {% endblock %}

</head>
<body style="height: 100%">
{% comment %}toast{% endcomment %}
<div aria-live="polite" aria-atomic="true" id="toast-box"
     style="position: absolute; min-height: 200px;right: 1%;top:100px;">
    <div class="toast" style="position: relative; top: 0; right: 0;">
        <div class="toast-header">
            <img src="{% static 'image/favorite.ico' %}" class="rounded mr-2" alt="0318-SPACE"
                 style="max-width: 32px;max-height: 32px;">
            <strong class="mr-auto">0318-SPACE</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="toast-content">
        </div>
    </div>
</div>
<script>
    function toast_show(content = '遇到问题了吗?') {
        $('#toast-box').css('z-index', '999999999')
        $('#toast-content').html(content);
        $('.toast').toast('show');
        setTimeout(function () {
            $('#toast-box').css('z-index', '0')

        }, 3000)
    }
</script>
{% comment %}toastend{% endcomment %}


<div id="container">
    {% block content %} {% endblock %}
</div>
<script src="http://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
<script>
    L2Dwidget.init({
        {% comment %}初音{% endcomment %}
        {#"model": {#}
        {#    "jsonPath": "https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json",#}
        {#    "scale": 1,#}
        {#    "hHeadPos": 0.5,#}
        {#    "vHeadPos": 0.618},#}
        {#"display": {"position": "right", "width": 60, "height": 100, "hOffset": 0, "vOffset": -10},#}
        {% comment %}黑猫{% endcomment %}
        "model": {
            "jsonPath": "https://unpkg.com/live2d-widget-model-hijiki@1.0.5/assets/hijiki.model.json",
            "scale": 1,
            "hHeadPos": 0.5,
            "vHeadPos": 0.618
        },
        "display": {"position": "right", "width": 60, "height": 100, "hOffset": 0, "vOffset": -30},

        "mobile": {"show": true, "scale": 0.5},
        "react": {"opacityDefault": 0.9, "opacityOnHover": 0.2}
    });


</script>
</body>

</html>
{% block script %}{% endblock %}




